<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{app.title}">CaptureThis</title>
    <!--    <link rel="stylesheet" th:href="@{/css/reset-css.css}">-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <div class="logo">
            <a th:href="${#authentication.name == 'anonymousUser'} ? @{/} : @{/home}">
                <img th:src="@{/img/logo.png}" alt="CaptureThis Logo" class="logo-image"/>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/register}"
                                                                          th:text="#{nav.register}">Register</a></li>
                <li th:if="${#authentication.name == 'anonymousUser'}"><a th:href="@{/login}" th:text="#{nav.login}">Login</a>
                </li>
                <li th:if="${#authentication.name != 'anonymousUser'}"><a th:href="@{/home}">
                    <i class="fa-solid fa-house"></i>
                    <span th:text="#{nav.home}">Home</span>
                </a></li>
                <li th:if="${#authentication.name != 'anonymousUser'}"><a th:href="@{/profile}">
                    <i class="fa-solid fa-user"></i>
                    <span th:text="#{nav.profile}">Profile</span>
                </a></li>
                <li th:if="${#authentication.name != 'anonymousUser'}"><a th:href="@{/create-post}">
                    <i class="fa-solid fa-plus"></i>
                    <span th:text="#{nav.createPost}">Create Post</span>
                </a>
                </li>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <a th:href="@{/notifications}">
                        <i class="fa-solid fa-bell"></i>
                        <span th:text="#{nav.notifications}">Notifications</span>
                        <span th:if="${unreadCount != 0}" style="font-style: italic;"> (</span><span
                            th:if="${unreadCount == 0 ? 0 : unreadCount}" th:text="${unreadCount}"
                            style="font-style: italic;">0</span><span
                            th:if="${unreadCount != 0}" style="font-style: italic;">)</span>
                    </a>
                </li>
                <li><a th:href="@{/about}"><i class="fa-solid fa-address-card icon-space"></i><span th:text="#{nav.aboutUs}">About Us</span></a>
                </li>
                <li><a th:href="@{/contacts}"><i class="fa-solid fa-phone icon-space"></i><span th:text="#{nav.contacts}">Contacts</span></a>
                </li>
                <li th:if="${#authentication.name != 'anonymousUser'}">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="logout-button" style="font-size: 1rem;">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span th:text="#{nav.logout}">Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            <span th:text="#{footer.copyright}">© Daniel 2024. All rights reserved.</span>
        </div>
    </div>
</footer>
</body>
</html>
