@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 'Arial', sans-serif;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

html, body {
    background: lightblue;
    height: 100%;
}

button {
    line-height: inherit;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 1;
}

.welcome,
.about,
.contacts,
.login,
.register,
.edit-post-container,
.create-post-container,
.display-post-container,
.drafts-container,
.favorites-container,
.followers-container,
.following-container,
.home-container,
.search-container,
.notification-container,
.profile-container,
 .error-container {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 30px;
    max-width: 100%;
    width: 90vw;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-result-heading {
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
}

.result-header {
    margin: 1rem 0;
}

.welcome h1, .welcome h3, .notification-feed {
    color: #333;
}

.contact-section p,
.about-section p {
    margin: 1rem 0;
}

.contact-section h2 {
    margin: 1rem 0;
}

.about-section h2 {
    margin-top: 1rem;
}

.welcome hr.bg-white {
    border: 0;
    height: 2px;
    background: #333;
    margin: 20px 0;
}

.primary-text {
    color: #333;
    text-decoration: underline;
}

.primary-text:hover {
    color: lightblue;
}

.text-center {
    text-align: center;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    flex: 1;
}

.reg {
    margin-right: 1rem;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.input-container {
    position: relative;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
}

.input-container.image {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
}

.input-container label {
    position: absolute;
    top: 10px;
    left: 5px;
    opacity: 0.5;
    transition: all 0.3s;
    pointer-events: none;
    background-color: #fff;
    padding: 0 5px;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:focus + label,
.input-container textarea:not(:placeholder-shown) + label{
    top: -10px;
    left: 5px;
    font-size: 12px;
    opacity: 1;
}

.danger {
    color: red;
    font-style: italic;
    font-size: 0.8em;
    display:block;
}

.global-error {
    font-size: 1em;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: lightblue;
    color: #333;
}

.btn:hover i {
    color: #333;
}

header {
    background-color: #333;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: lightblue;
    color: #333;
}
.nav-links a:hover i{
    color: #333;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover{
    background-color: lightblue;
    color: #333;
}

.logout-button:hover i{
    color: #333;
}

.footer {
    background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        width: 100%;

}

.footer-background {
    margin: 0 auto;
}

#contacts-list {
    list-style-type: none;
}

.display-post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.full-post {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-image {
    max-width: 100%;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.post-info h1 {
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0.5rem 0;
}

.post-sidebar {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

.likes-section {
    margin-bottom: 20px;
}

.likes-section h2 {
    margin-bottom: 10px;
}

.user-like {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.comments-section {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

.comments-section h2 {
    margin-bottom: 10px;
}

.comment, .notification {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.comment-header,
.user-like-header,
.result-header,
.profile-picture,
.post-header-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.comment-header .img_img,
.user-like-header .img_img,
.result-header .img_img,
.post-header-details .img_img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.profile-heading {
    margin-bottom: 1rem;
}

.personal-info-p {
    margin-top: 0.5rem;
}

.no-content {
    font-size: 1.2rem;
    font-style: italic;
    opacity: 0.6;
}


.big-heading {
    margin: 1rem 0 2rem;
}

.name {
    margin: 0.5rem 0 1rem;
}

.post-date {
    opacity: 0.6;
    font-style: italic;
}

#notification-popup {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            padding: 15px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }
        #notification-popup button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

.profile-picture {
overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid #ccc;
}

.add-comment-form {
    margin-top: 20px;
}

.add-comment-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add-comment-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.personal-info,
.edit-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
}

.search-button {
    margin-bottom: 2rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ccc;
}

.profile-picture img,
.comment-header img,
.user-like-header img,
.result-header img,
.post-header-details img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

button {
    padding: 0.3em 0;
}

textarea {
    resize: none;
}

section.posts-summary {
    justify-content: center;
    display: flex;
}

#like-comment {
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

#likeButton {
    height: fit-content;
}

i {
    color: lightblue;
}

.icon-space {
    margin-right: 6px;
}

.error-code {
    font-size: 100px;
    color: red;
}

.error-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid red;
    display: inline-block;
    border-radius: 5px;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
        width: 100%;
        padding-top: 0.5em;
    }

    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 5px 15px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        align-items: flex-end;
    }

    .nav-links li {
        margin: 5px 0;
    }

    .nav-links li:nth-child(1),
    .nav-links li:nth-child(2) {
        display: block;
    }

    .nav-links li:nth-child(3),
    .nav-links li:nth-child(4),
    .nav-links li:nth-child(5),
    .nav-links li:nth-child(6) {
        display: block;
    }

    .logo img {
        width: 150px;
        height: auto;
    }

    .post-image {
        max-width: 100%;
    }

    .post > .post-actions > a > span,
    .full-post > .post-actions > a > span,
    .comment .btn span {
        display: none;
    }

    .post-actions {
        flex-wrap: wrap;
    }

    .profile-header > .post-actions {
        gap: 1rem;
        flex-direction: column;
        width: 200px
    }

    .profile-header > .post-actions > div,
    .profile-header > .post-actions > div:nth-child(1) > button,
    .profile-header > .post-actions > div,
    .profile-header > .post-actions > div:nth-child(4) > a,
    .profile-header > .post-actions > a,
    .profile-header > .post-actions > a {
        width: 100%;
    }

    .post-sidebar,
    .comments-section {
        padding: 10px;
    }

    #like-comment {
        font-size: small;
    }

    .display-post-container #like-comment h2 {
        font-size: 1.2em;
    }

    nav .idk{
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between
    }

    nav div:nth-child(2) {
        align-self: end;
    }

    #editProfileBtn,
    .posts-summary-item > a {
        width: 200px;
    }

    .posts-summary-item {
        width: 100%;
    }
}

@media (min-width: 601px) {
    .menu-toggle {
        display: none;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .logo img {
            width: 200px;
            height: auto;
        }

        .post-details {
                flex-direction: row;
                align-items: flex-start;
            }

            .post-header {
                flex-direction: row;
                align-items: flex-start;
            }

            .post-image {
                margin-right: 20px;
                margin-bottom: 0;
            }

            .post-info {
                align-items: flex-start;
                text-align: left;
            }
}