<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main class="about-container">
    <div class="about">
        <section class="about-section">
            <h1 th:text="#{about.title}"></h1>
            <p th:text="#{about.welcome}"></p>
        </section>
        <hr>
        <section class="about-section">
            <h2 th:text="#{about.mission.title}"></h2>
            <p th:text="#{about.mission}"></p>
        </section>
        <hr>
        <section class="about-section">
            <h2 th:text="#{about.vision.title}"></h2>
            <p th:text="#{about.vision}"></p>
        </section>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
<script th:replace="fragments/commons::script"></script>
</body>
</html>
