<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main class="contact-container">
    <div class="contacts">
        <section class="contact-section">
            <h1 th:text="#{contact.title}"></h1>
            <p th:text="#{contact.info}"></p>
        </section>
        <hr>
        <section class="contact-section">
            <h2 th:text="#{contact.contact.title}"></h2>
            <ul id="contacts-list">
                <li><strong th:text="#{contact.email}"></strong> <span th:text="#{contact.email.value}"></span></li>
                <li><strong th:text="#{contact.phone}"></strong> <span th:text="#{contact.phone.value}"></span></li>
                <li><strong th:text="#{contact.address}"></strong> <span th:text="#{contact.address.value}"></span></li>
            </ul>
        </section>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
