<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="create-post-container">
        <h1 class="text-center" th:text="#{createPost.title}"></h1>
        <form
                th:method="POST"
                th:action="@{/create-post}"
                th:object="${createPostData}"
                enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-container">
                    <input
                            type="text"
                            id="title"
                            name="title"
                            th:field="*{title}"
                            class="form-control"/>
                    <label for="title" th:text="#{createPost.titleLabel}"></label>
                </div>
                <small class="danger" th:each="error: ${#fields.errors('title')}" th:text="${error}">Title
                    error message</small>
            </div>
            <div class="form-group">
                <div class="input-container">
                <textarea
                        id="description"
                        name="description"
                        th:field="*{description}"
                        class="form-control"
                        rows="5"></textarea>
                    <label for="description" th:text="#{createPost.descriptionLabel}"></label>
                </div>
                <small class="danger" th:each="error: ${#fields.errors('description')}"
                       th:text="${error}">Description error message</small>
            </div>
            <div class="form-group">
                <div class="input-container image">
                    <img id="imagePreview" src="#" alt="Image Preview" style="display:none;" class="post-image"/>
                    <input
                            type="file"
                            id="photo"
                            name="photo"
                            th:field="*{imageFile}"
                            class="form-control choose-file"
                            accept="image/*"
                            onchange="previewImage(event)"/>
                    <label for="photo" th:text="#{createPost.photoLabel}"></label>
                </div>
                <small class="danger" th:each="error: ${#fields.errors('imageFile')}"
                       th:text="${error}">Image file error message</small>
            </div>
            <div class="form-actions">
                <button type="submit" name="action" value="post" class="btn btn-primary">
                    <i class="fa-solid fa-upload"></i>
                    <span th:text="#{createPost.postButton}">Post</span></button>
                <button type="submit" name="action" value="draft" class="btn btn-secondary">
                    <i class="fa-solid fa-download"></i>
                    <span th:text="#{createPost.draftButton}">Save as Draft</span>
                </button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

<script>
function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function() {
        var dataURL = reader.result;
        var imagePreview = document.getElementById('imagePreview');
        imagePreview.src = dataURL;
        imagePreview.style.display = 'block';
    };
    reader.readAsDataURL(input.files[0]);
}

</script>
</body>
</html>
