<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="home-container">
        <div class="search-button">
            <a href="/search" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass icon-space"></i><span th:text="#{search.users}">Search Users</span></a>
        </div>

        <section class="posts">
            <div th:each="post : ${posts}" class="post">
                <div class="post-header-details" style="justify-content: flex-start; margin-top: 2rem">
                    <img th:src="@{/profile-picture/{userId}(userId=${post.authorId})}" alt="Profile Picture" class="profile-picture-small"/>
                    <span class="result-username">
                        <a th:href="@{/profile/{userId}(userId=${post.authorId})}"
                            th:text="${post.authorFirstName} + ' ' + ${post.authorLastName}"
                            style="text-decoration: none; color: #333; font-weight:bold;">Full Name</a>
                    </span>
                </div>
                <div class="post-content full-post">
                    <div class="post-details">
                        <div class="post-header">
                            <img th:src="@{/images/{postId}(postId=${post.id})}" alt="Post Image" class="post-image"/>
                            <div class="post-info">
                                <h1 th:text="${post.title}">Post Title</h1>
                                <p th:text="${post.description}">Post Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-actions">
                        <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-info">
                            <i class="fa-solid fa-eye"></i>
                            <span th:text="#{post.view}">View</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
