<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-picture">
                <img th:src="@{/profile-picture/{userId}(userId=${profileData.id})}" alt="Profile Picture"
                     class="profile-picture-big"/>
            </div>
            <h1 class="name" th:text="${profileData.firstName} + ' ' + ${profileData.lastName}">Full name</h1>

            <div class="post-actions">
                <div th:if="${isOwnProfile == false}">
                    <button id="followButton" class="btn"
                            th:attr="data-user-id=${profileData.id}, data-follow-text=#{profile.follow}, data-unfollow-text=#{profile.unfollow}"
                            th:classappend="${isFollowing} ? 'btn-danger' : 'btn-primary'">
                        <i id="followIcon"
                           th:class="${isFollowing} ? 'fa-solid fa-user-minus' : 'fa-solid fa-user-plus'"></i>
                        <span th:text="${isFollowing} ? #{profile.unfollow} : #{profile.follow}">Follow/Unfollow</span>
                    </button>
                </div>
                <a class="btn btn-info" th:href="@{/followers/{userId}(userId=${profileData.id})}">
                    <i class="fa-solid fa-users"></i>
                    <span th:text="#{profile.followers}">Followers</span></a>
                <a class="btn btn-info" th:href="@{/following/{userId}(userId=${profileData.id})}">
                    <i class="fa-solid fa-users"></i>
                    <span th:text="#{profile.following}">Following</span></a>
                <div th:if="${isOwnProfile == false && isAdmin}">
                    <a th:href="@{/profile/make-admin/{userId}(userId=${profileData.id})}"
                       class="btn"
                       th:classappend="${userIsAdmin} ? 'btn-danger' : 'btn-primary'"
                       th:onclick="${userIsAdmin} ? 'return confirm(\'Are you sure you want to remove admin rights from this user?\');'
                               : 'return confirm(\'Are you sure you want to make this user an admin?\');'">
                        <i th:class="${userIsAdmin} ? 'fa-solid fa-user' : 'fa-solid fa-user-tie'"></i>
                        <span th:text="${userIsAdmin} ? #{profile.make.user} : #{profile.make.admin}">Make Admin/Make User</span>
                    </a>
                </div>
            </div>
        </div>

        <section class="personal-info">
            <h2 th:text="#{profile.personalInfo}" class="profile-heading">Personal Information</h2>
            <p th:if="${profileData.bio}" class="personal-info-p">
                <strong th:text="#{profile.bio}"></strong> <span th:text="${profileData.bio}">Bio</span>
            </p>
            <p th:if="${formattedBirthDate}" class="personal-info-p">
                <strong th:text="#{profile.birthDate}"></strong> <span th:text="${formattedBirthDate}">Birth Date</span>
            </p>
            <p th:if="${profileData.gender}" class="personal-info-p">
                <strong th:text="#{profile.gender}"></strong> <span th:text="${profileData.gender}">Gender</span>
            </p>
        </section>
        <div th:if="${isOwnProfile || isAdmin}">
            <button id="editProfileBtn" class="btn btn-primary" style="margin: 1rem 0;">
                <i class="fa-solid fa-pencil"></i>
                <span th:text="#{profile.editProfile}">Edit Profile</span>
            </button>

            <div id="editProfileForm" style="display: none;" class="edit-form">
                <form th:action="@{/profile/add-profile-picture}" th:object="${profilePictureData}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div class="input-container image">
                            <img id="imagePreview" src="#" alt="Image Preview" style="display:none;"
                                 class="post-image"/>
                            <input type="file" id="profilePicture" name="profilePicture" th:field="*{profilePicture}"
                                   class="form-control" accept="image/*" onchange="previewImage(event)" required/>
                            <label for="profilePicture" th:text="#{profile.changePicture}">Change Profile
                                Picture</label>
                        </div>
                    </div>
                    <div class="form-actions" style="margin-bottom: 1rem;">
                        <input type="hidden" name="userId" th:if="${!isOwnProfile && isAdmin}"
                               th:value="${profileData.id}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-upload"></i>
                            <span th:text="#{profile.post}">Post</span></button>
                    </div>
                </form>

                <form th:action="@{/profile/change-bio}" method="post" class="form-group">
                    <div class="input-container">
                        <textarea id="new-bio" name="bio" class="form-control" required></textarea>
                        <label for="new-bio" th:text="#{profile.newBio}">New Bio</label>
                    </div>
                    <input type="hidden" name="userId" th:if="${!isOwnProfile && isAdmin}"
                           th:value="${profileData.id}"/>
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa-solid fa-upload"></i>
                        <span th:text="#{profile.changeBio}">Change Bio</span></button>
                </form>

                <form th:action="@{/profile/change-first-name}" method="post" class="form-group">
                    <div class="input-container">
                        <input id="new-first-name" type="text" name="firstName" class="form-control" required/>
                        <label for="new-first-name" th:text="#{profile.newFirstName}">New First Name</label>
                    </div>
                    <input type="hidden" name="userId" th:if="${!isOwnProfile && isAdmin}"
                           th:value="${profileData.id}"/>
                    <button type="submit" class="btn btn-secondary" style="margin-top:5px;">
                        <i class="fa-solid fa-upload"></i>
                        <span th:text="#{profile.changeFirstName}">Change First Name</span>
                    </button>
                </form>

                <form th:action="@{/profile/change-last-name}" method="post" class="form-group">
                    <div class="input-container">
                        <input id="new-last-name" type="text" name="lastName" class="form-control" required/>
                        <label for="new-last-name" th:text="#{profile.newLastName}">New Last Name</label>
                    </div>
                    <input type="hidden" name="userId" th:if="${!isOwnProfile && isAdmin}"
                           th:value="${profileData.id}"/>
                    <button type="submit" class="btn btn-secondary" style="margin-top:5px;">
                        <i class="fa-solid fa-upload"></i>
                        <span th:text="#{profile.changeLastName}">Change Last Name</span>
                    </button>
                </form>

                <button id="closeEditForm" class="btn btn-danger">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <span th:text="#{profile.close}">Close</span></button>
            </div>
        </div>

        <section class="posts-summary">
            <div class="posts-summary-item" th:if="${isOwnProfile || isAdmin}">
                <a class="btn btn-info" th:href="@{/drafts}" style="margin: 1rem;">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <span th:text="#{profile.draftPosts}">Draft Posts</span></a>
            </div>
<!--            <div class="posts-summary-item">-->
<!--                <a class="btn btn-info" th:href="@{/favorites}" style="margin: 1rem;">-->
<!--                    <i class="fa-solid fa-heart"></i>-->
<!--                    <span th:text="#{profile.favoritePosts}">Favorite Posts</span></a>-->
<!--            </div>-->
        </section>

        <section class="user-posts">
            <h2 th:text="${profileData.firstName} + ' ' + ${profileData.lastName} + '\'s Posts'"
                class="profile-heading"></h2>
            <div th:each="post : ${posts}" class="post full-post">
                <div class="post-details">
                    <div class="post-header">
                        <img th:src="@{/images/{postId}(postId=${post.id})}" alt="Post Image" class="post-image"/>
                        <div class="post-info">
                            <h1 th:text="${post.title}">Post Title</h1>
                            <p th:text="${post.description}">Post Description</p>
                        </div>
                    </div>
                </div>
                <div class="post-actions">
                    <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-info">
                        <i class="fa-solid fa-eye"></i>
                        <span th:text="#{post.view}">View</span></a>
                    <a th:if="${isOwnProfile || isAdmin}" th:href="@{/edit-post/{id}(id=${post.id})}"
                       class="btn btn-primary">
                        <i class="fa-solid fa-pencil"></i>
                        <span th:text="#{drafts.editButton}">Edit</span></a>
                    <a th:if="${isOwnProfile || isAdmin}" th:href="@{/delete-post/{id}(id=${post.id})}"
                       class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?');">
                        <i class="fa-solid fa-trash"></i>
                        <span th:text="#{profile.delete}">Delete</span></a>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>

<script th:inline="javascript">
    var followText = /*[[#{profile.follow}]]*/ 'Follow'; // Fallback value for follow text
    var unfollowText = /*[[#{profile.unfollow}]]*/ 'Unfollow'; // Fallback value for unfollow text

    document.addEventListener('DOMContentLoaded', function() {
        var followButton = document.getElementById('followButton');
        if (followButton) {
            var followText = followButton.getAttribute('data-follow-text');
            var unfollowText = followButton.getAttribute('data-unfollow-text');

            followButton.addEventListener('click', function(event) {
                event.preventDefault();

                var userId = this.getAttribute('data-user-id');
                var action = this.textContent.trim() === followText ? 'follow' : 'unfollow';

                fetch(`/profile/${action}/${userId}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const icon = this.querySelector('#followIcon');
                            const textSpan = this.querySelector('span');

                            if (action === 'follow') {
                                icon.className = 'fa-solid fa-user-minus';
                                textSpan.textContent = unfollowText;
                                this.classList.remove('btn-primary');
                                this.classList.add('btn-danger');
                            } else {
                                icon.className = 'fa-solid fa-user-plus';
                                textSpan.textContent = followText;
                                this.classList.remove('btn-danger');
                                this.classList.add('btn-primary');
                            }
                        } else {
                            alert(/*[[#{profile.error}]]*/ 'An error occurred.');
                        }
                    })
                    .catch(error => {
                        alert(/*[[#{profile.error}]]*/ 'An error occurred.');
                        console.error('Error:', error);
                    });
            });
        }

        var editProfileBtn = document.getElementById('editProfileBtn');
        if (editProfileBtn) {
            editProfileBtn.addEventListener('click', function() {
                document.getElementById('editProfileForm').style.display = 'block';
            });
        }

        var closeEditFormBtn = document.getElementById('closeEditForm');
        if (closeEditFormBtn) {
            closeEditFormBtn.addEventListener('click', function() {
                document.getElementById('editProfileForm').style.display = 'none';
            });
        }
    });

    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function() {
            var dataURL = reader.result;
            var imagePreview = document.getElementById('imagePreview');
            imagePreview.src = dataURL;
            imagePreview.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
    }


</script>
</body>
</html>
