<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="search-container">
        <div class="search-bar">
            <form th:action="@{/search}" method="get">
                <div class="form-group">
                    <div class="input-container">
                        <input
                                type="text"
                                id="userSearch"
                                name="query"
                                class="form-control"/>
                        <label for="userSearch" th:text="#{search.placeholder}"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass icon-space"></i><span th:text="#{search.button}">Search</span></button>
            </form>
        </div>

        <div class="search-results-container">
            <!-- Correctly concatenate static and dynamic content -->
            <h1 class="search-result-heading">
                <span th:text="#{search.resultsTitle}"></span> "<span th:text="${query}"></span>"
            </h1>
            <section class="search-results">
                <div th:if="${#lists.isEmpty(results)}">
                    <p th:text="#{search.noResults}" class="no-content">No results found</p>
                </div>
                <div th:each="result : ${results}" class="search-result">
                    <div class="result-header">
                        <img th:src="@{/profile-picture/{userId}(userId=${result.id})}" alt="Profile Picture"
                             class="profile-picture-small"/>
                        <span class="result-username">
                                <a th:href="@{/profile/{userId}(userId=${result.id})}"
                                   th:text="${result.firstName} + ' ' + ${result.lastName}"
                                   style="text-decoration: none; color: #333; font-weight:bold;">Full Name</a>
                            </span>

                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
