<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="search-results-container">
        <h1>Search Results for "<span th:text="${query}">query</span>"</h1>
        <section class="search-results">
            <div th:if="${results.size() == 0}">
                <p>No results found</p>
            </div>
            <div th:each="result : ${results}" class="search-result">
                <div class="result-header">
                    <div class="result-user-info">
                        <img th:src="@{/img/{profilePicture}(profilePicture=${result.profilePicture})}" alt="Profile Picture" class="result-profile-picture"/>
                        <span class="result-username" th:text="${result.username}">User Name</span>
                    </div>
                </div>
                <div class="result-content">
                    <p th:text="${result.description}">User description or additional information...</p>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
